@import url("https://fonts.googleapis.com/css?family=Chango");
body {
  font-family: "Chango", sans-serif;
  text-align: center;
}

.fire-logo {
  min-width: 10vw;
}
.fire-nav-logo {
  min-width: 3vw;
}

.highlight-slogan {
  color: red;
}

.home-buttons {
  display: flex;
  justify-content: space-evenly;
}

.button {
  margin: 30px;
}

.header {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.spotify-logo {
  max-height: 5vh;
}

.app {
  min-height: 100vh;
}

@media (max-width: 600px) {
  .home-buttons {
    display: flex;
    flex-direction: column;
  }
}

.search-box {
  margin: 0px;
  padding: 30px;
}

.player {
  margin: 0px;
  padding: 30px;
}

.spotify-banner {
  margin: 0px;
  padding: 10px;
}

.queue {
  margin: 0px;
  padding: 30px;
}
